body {
	background-color: rgb(24, 23, 23);
    }
h6 {
	text-align: center;


}     

img	{	border: 1px solid #ddd;
  border-radius: 4px;
  padding: 2px;
  width: 420px;

}

.active {
  background-color: #04AA6D;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 1;
  overflow: hidden;
  background-color: purple;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 25px;
  text-decoration: none;
  letter-spacing: 1.5px
}


li a:hover {
  background-color: gray;
}

p1 {color: white;
	padding: 50px;
	margin: 50px;
	font-family: Verdana;
  }




